<ion-header>
  <ion-row style="background-color:#96a3b2;height: 100%;">
    <ion-col size="2" style="background-color: #2a4a7c;" text-center>
      <div>
        <img src="assets/imgs/logo1.png" alt="" />
      </div>
    </ion-col>
    <ion-col size="8" text-center>
      <p style="color: white;"><b>Acciones</b></p>
    </ion-col>
    <ion-col size="2" style="background-color:#2a4a7c;">
      <b><ion-menu-button class="menuHam"></ion-menu-button></b>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content padding class="tema-app">
  <!-- <ion-searchbar> -->
    <div *ngIf="this.firebaseService.modelo[coleccion] == 0">
      <ion-item>No hay información</ion-item>
    </div>
    <ion-searchbar id="searchAcciones"
      mode="md"
      [(ngModel)]="searchData"
      (ionInput)="setFilter(searchData, firebaseService.modelo[coleccion])"
    ></ion-searchbar>
    <div *ngIf="swFind" class="spinner-container">
      <ion-spinner></ion-spinner>
    </div>
    <!-- </ion-searchbar> -->
    <ion-grid>
    <div
      *ngFor="let item of items; first as isFirst; even as isEven"
      (click)="selectRow($event, item)"
      text-wrap
    >
      <ion-card class="card ion-padding">
        <ion-row>
          <ion-col size="5" class="celdasNegritas">
            <b> Tipo:</b>
          </ion-col>
          <ion-col size="7" class="celdasNegritas">
            {{ item.tipo }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="celdasNegritas">
            <b>Acción:</b>
          </ion-col>
          <ion-col size="7" class="celdasNegritas">
            {{ item.accion }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5" class="celdasNegritas">
            <b>Fecha inicio:</b>
          </ion-col>
          <ion-col size="7" class="celdasNegritas">
            {{ item.fhAlta | date: "dd-MM-yy" }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="5" class="celdasNegritas">
            <b>Fecha fin:</b>
          </ion-col>
          <ion-col size="7" class="celdasNegritas">
            {{ item.fhFinPlan | date: "dd-MM-yy" }}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="2" push="8">
            <ion-button class="btnDetalle">
              <ion-icon name="arrow-forward" mode="ios"> </ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </ion-grid>
</ion-content>
