<ion-header> </ion-header>

<ion-content class="ion-padding">
  <br /><br /><br />
  <div class="formulario">
    <div padding-horizontal text-center class="animated fadeInDown">
      <div padding-horizontal text-center>
        <img
          class="imagen"
          src="../../assets/imgs/logo.svg"
          alt="Observador ciudadano"
        />
      </div>
    </div>

    <!-- Login form -->
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <ion-row class="ion-padding">
        <ion-col class="input">
          <!-- <ion-icon name="mail" item-start class="text-primary"></ion-icon> -->
          <ion-input
            class="fondoInput"
            type="text"
            placeholder="Usuario"
            name="usuario"
            [(ngModel)]="usuario.correo"
            required
          >
          </ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-padding">
        <ion-col class="input">
          <ion-input
            class="fondoInput"
            type="password"
            placeholder="Contraseña"
            name="password"
            [(ngModel)]="usuario.pass"
            required
          ></ion-input>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-2></ion-col>
        <ion-col size="8">
          <ion-button
            shape="round"
            class="fndBoton"
            type="submit"
            [disabled]="!loginForm.form.valid"
          >
            &nbsp; Entrar &nbsp;</ion-button
          >
        </ion-col>

        <ion-col col-2></ion-col>
      </ion-row>
      <br />
      <ion-row>
        <ion-col class="ion-text-center">
          <a (click)="enviarEmail()" style="color: #2a4a7c;"> <b>Olvidé mi contraseña</b> </a>
        </ion-col>
      </ion-row>
    </form>
  </div>
  <br><br><br><br>
<ion-row >
  <ion-col size="4" push="4" text-center>
    <p>
      <b>
        Versión 1.0
      </b>
    </p>
  </ion-col>
</ion-row>
</ion-content>

