.tema-app {
  background-color: #fff;
  &::after {
    content: "";
    background: url("../assets/imgs/bg.jpg") no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 0;
  }
}

.hdr {
  size: 21;
  background-color: navy;
  color: white;
}

//rgba(0, 0, 255, 0.1);
.first {
  background: rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 0, 255, 0.1);
}

.even {
  background-color: #f2f2f2;
}

.forma {
  height: "300";
  width: "500";
}

.pointer {
  cursor: pointer;
}
.opcionMenu {
  background-color: blue !important;
  color: white !important;
}

ion-toolbar {
  --color: #ffffff;
  --background: #96a3b2;
}
// .opcionMenu:hover {
//   background-color: red !important;
//   color: white !important;
// }
