<ion-app>
  <!--<ion-split-pane>-->
  <ion-menu-toggle autoHide="true"
    ><ion-menu #mymenu contentId="content1" side="end" type="push">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content color="medium">
        <ion-item color="medium" class="opcionMenu" routerLink="/empresas">
          <ion-icon name="paper" mode="ios"></ion-icon>
          &nbsp;
          <b>Empresas</b>
        </ion-item>
        <ion-item color="medium" class="opcionMenu" routerLink="/rolles">
          <ion-icon name="paper" mode="ios"></ion-icon>
          &nbsp;
          <b>Rolles</b>
        </ion-item>
        <ion-item color="medium" class="opcionMenu" routerLink="/funciones">
          <ion-icon name="paper" mode="ios"></ion-icon>
          &nbsp;
          <b>Funciones</b>
        </ion-item>
        <ion-item color="medium" class="opcionMenu" routerLink="/usuarios">
          <ion-icon name="paper" mode="ios"></ion-icon>
          &nbsp;
          <b>Usuarios</b>
        </ion-item>
        <!-- <ion-item color="light" class="opcionMenu" menuClose
          >Cerrar Menu
        </ion-item> -->
        <ion-item color="medium" class="opcionMenu" (click)="logout()">
          <ion-icon name="power" mode="ios"></ion-icon>
          &nbsp;
          <b>Salir</b>
        </ion-item>
        <!--
          <ion-item (click)="mymenu.close()"><a>Cerrar Menu</a></ion-item>
          <ion-item><button ion-button menuClose><a>Cerrar Menu</a></button></ion-item>
        -->
      </ion-content>
    </ion-menu></ion-menu-toggle
  >
  <ion-router-outlet id="content1" main></ion-router-outlet>
  <!--</ion-split-pane>-->
</ion-app>
